.heading{
padding-left: 560px;
padding-top: 20px;
padding-bottom: 20px;
color: blue;
font-weight: 800;
font-size: 30px;
background: rgb(255, 128, 179);
}

.control-group{
padding-left: 350px;
padding-top: 20px;
}

.body{
background: rgb(224, 213, 210);
}